@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h3>@Model.Message</h3>

<address>
    <abbr title="Телефон">Тел:</abbr>
    +380 63 067 2635
</address>

<address>
    <strong>Email: </strong> <a href="mailto:zverolov1995@gmai.com">Google</a><br />
    <strong>Facebook: </strong> <a href="https://www.facebook.com/decson5">Hratylo Serhii</a><br />
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/serhii-hratylo-860657165/">Hratylo Serhii</a><br />
    <strong>GitHub: </strong> <a href="https://github.com/PotatoBurn">PotatoBurn</a><br />
</address>
